<ion-header>
  <ion-toolbar color="primary">
    <ion-title>SAVAIA VINI Adresseingabe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form [formGroup]="validations_form"  (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Nachname</ion-label>
      <ion-input type="text" formControlName="lastname"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.lastname">
        <div class="error-message" *ngIf="validations_form.get('lastname').hasError(validation.type) && (validations_form.get('lastname').dirty || validations_form.get('lastname').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Adresse</ion-label>
      <ion-input type="text" formControlName="indirizzo"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.indirizzo">
        <div class="error-message" *ngIf="validations_form.get('indirizzo').hasError(validation.type) && (validations_form.get('indirizzo').dirty || validations_form.get('indirizzo').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Postleitzahl</ion-label>
      <ion-input type="text" formControlName="codicePostale"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.citta">
        <div class="error-message" *ngIf="validations_form.get('codicePostale').hasError(validation.type) && (validations_form.get('codicePostale').dirty || validations_form.get('codicePostale').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>
    
    
    <ion-item>
      <ion-label position="floating" color="primary">Stadt</ion-label>
      <ion-input type="text" formControlName="citta"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.citta">
        <div class="error-message" *ngIf="validations_form.get('citta').hasError(validation.type) && (validations_form.get('citta').dirty || validations_form.get('citta').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>
   
    
    <ion-item>
      <ion-label position="floating" color="primary">Land</ion-label>

 
      <!-- <ion-select formControlName="country" placeholder="Select One" value="DE" okText="OK" cancelText="Dismiss"  (ionChange)="optionsFn();">
        -->
        <ion-select formControlName="country" placeholder="wählen" okText="OK" cancelText="Dismiss"  (ionChange)="optionsFn();">

        <ion-select-option value="DE">Deutschland</ion-select-option>
        <ion-select-option value="IT">Italien</ion-select-option>
      </ion-select>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.country">
          <div class="error-message" *ngIf="validations_form.get('country').hasError(validation.type) && (validations_form.get('country').dirty || validations_form.get('country').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>


    </ion-item>
    
    <ion-item>
      <ion-label position="floating" color="primary">Phone</ion-label>
      <!-- <ion-input placeholder="{{ validations_form.value.country_phone.country.sample_phone }}" type="text" formControlName="phone"></ion-input>-->      
<ion-input placeholder="0233456789" type="number" formControlName ="phone"></ion-input>
</ion-item>
 <!-- rimuovo da qui -->

   
 <!-- rimuovo a qui Postleitzahl  -->  
    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <!-- <ion-item>
      <ion-label position="floating" color="primary">Gender</ion-label>
      <ion-select formControlName="gender" cancelText="Cancel" okText="OK">
        <ion-select-option *ngFor="let gender of genders" [value]="gender">{{gender}}</ion-select-option>
      </ion-select>
    </ion-item>  -->


   


    <!-- <div formGroupName="matching_passwords">
      <ion-item>
        <ion-label position="floating" color="primary">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirm_password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.confirm_password">
          <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
    These validations are for the form group -->
     <!--
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.matching_passwords">
        <div class="error-message" *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div> -->

    <ion-item>
      <ion-label color="primary"> Ges. {{ totaleDaPagare | currency:'EUR':true:'1.2-2' }}   Versandkostenpauschale: {{ prezzoTrasporto | currency:'EUR':true:'1.2-2' }} Gesamtsumme:  {{ totaleCompresoTrasportoNumero | currency:'EUR':true:'1.2-2' }}</ion-label>
      <!-- <ion-checkbox color="primary" formControlName="terms"></ion-checkbox> -->
    </ion-item>
    <div class="validation-errors">
      <!-- <ng-container *ngFor="let validation of validation_messages.terms">
        <div class="error-message" *ngIf="validations_form.get('terms').hasError(validation.type) && (validations_form.get('terms').dirty || validations_form.get('terms').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container> -->
    </div>


    <ion-item>
      <ion-label color="primary"> Selezionare per conservare indirizzo al prossimo accesso</ion-label>
     <ion-checkbox color="primary" formControlName="terms"></ion-checkbox> 
    </ion-item>
    <div class="validation-errors">
      <!-- <ng-container *ngFor="let validation of validation_messages.terms">
        <div class="error-message" *ngIf="validations_form.get('terms').hasError(validation.type) && (validations_form.get('terms').dirty || validations_form.get('terms').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container> -->
    </div>

    <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!validations_form.valid">PayPal Bezhalen</ion-button>
    <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!validations_form.valid">Nachnahme</ion-button>
  </form>
</ion-content>

