<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title class="savaiaViniTitolo">
      <ion-text color="light">
        <h1>Savaia vini</h1>
      </ion-text>
      <img  src="../assets/Logodefinitivomadeinitaly.png" > 
    </ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar color="primary">
  <ion-title>
  <div class="hcs">
    <img  src="../assets/Logodefinitivomadeinitaly.png" >
  <span>Savaia Vini</span>
  </div>
  </ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-card *ngFor="let p of products">
      <ion-card-header>
        <ion-card-title>{{ p.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-avatar>
          <img src="{{ p.percorso }}">
        </ion-avatar>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="secondary">
              <b>{{ p.price | currency:'EUR' }}</b>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" (click)="addToCart(p)">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>