<ion-header>
  <ion-toolbar  class="new-background-color">
  <ion-title>
  <div class="hcs">
    <img  src="../assets/Logodefinitivomadeinitaly.png" >
  <span>Savaia Vini</span>
  <img  src="../assets/italy-germany.png" >
  </div>
  </ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-card *ngFor="let p of productsArray1;let i = index;"  [ngClass]="(i % 2 == 0) ? 'even' : 'odd'">  
     
      <ion-card-header>
        <ion-card-title>{{ p.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content >

           <ion-row class="ion-align-items-center">

            <ion-col size="3"> 
              <ion-avatar  >
                <img src="{{ p.percorso }}">
              </ion-avatar>
            </ion-col>

          <ion-col size="3"> 
            <ion-label color="secondary" >
              <b>{{ p.price | currency:'EUR' }}</b>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right"> 
            <ion-button fill="clear" (click)="addToCart(p)">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
         </ion-row> 
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>